# This workflow to test kernel modules and syscall privileges for falcosecurity's actions workflow.
# Actual Output:
# res = -1, errno = 38, strerror = Function not implemented
# Expected Output:
# res = -1, errno = 2, strerror = No such file or directory
# Issue: https://github.com/IBM/actionspz/issues/3
name: falcosecurity-test

on:
  workflow_dispatch:

jobs:
  falcosecurity-test:
    runs-on: ubuntu-24.04-s390x
    timeout-minutes: 10

    steps:      
      - name: Install deps ⛓️
        run: |
          sudo apt update && sudo apt install -y --no-install-recommends build-essential

      - name: Create executable
        run: |
          cat > test_delete_module.c << EOF
          #include <fcntl.h>
          #include <sys/syscall.h>
          #include <unistd.h>
          #include <stdio.h>
          #include <errno.h>
          #include <string.h>
          #include <assert.h>
            
          int main() {
            long res = syscall(__NR_delete_module, "non_existing_path", O_NONBLOCK);
            printf("res = %ld, errno = %d, strerror = %s\n", res, errno, strerror(errno));
            assert(res == -1 && errno == ENOENT);
            printf("Assertion passed!\n");
            return 0;
          }
          EOF
          gcc test_delete_module.c -o test_delete_module
          sudo ./test_delete_module
